@{
    ViewBag.Title = "Upravljanje fakturama";
}

<div class="row">
    <div class="col-md-10">
        <h3>Aplikacija za upravljanje fakturama</h3>
        <p>
            Ova aplikacija je namijenjena u testne svrhe te nije za komercijalnu uporabu.
        </p>
    </div>
</div>